
html {
  font-family: 'Roboto', sans-serif;
}



body {
  font-size: 13px;
  line-height: 20px;
  margin: 0;
}

.content {
	margin: 8px
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.area {
  opacity: 0.1;
  fill: steelblue;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1px;
}
